

header{
    background-color:#2C3E50;
    min-height: 100px;
}


.header-smartphone{
    display: none;
}

.logo{
    font-size: 30px;
    font-weight: 700;

}

/* MEDIA QUERY */
@media all and(max-width:546px) {
    .header-smartphone{
        display: flex;
    }

    .nav{
        display: none;
    }

}

/* DEBUG */
[class*="col"] {
    background-color: aqua;
    border: 2px solid violet;
    min-height: 200px;
}


section{
    min-height: 400px;
    width: 100%;
    background-color:bisque;
    border:1px solid black;
}

