

header{
    background-color:#2C3E50;
    min-height: 100px;
}


.header-smartphone{
    display: none;
}

.logo{
    font-size: 30px;
    font-weight: 700;

}

/* JUMBO */
.jumbotron{
    background-color:#1ABC9C;
}

.img-jumbo{
   width: 100%;
}

.img-jumbo img{
    max-width: 50%;
    margin-top: 5%;
}

.text-jumbo{
    margin-top: 4%;
}

.titolo-jumbotron{
    font-size: 350%;
}

.jumbotron h4{
    margin-bottom: 10%;
}

/* PORTFOLIO */
.portfolio{
    background-color:white;
    margin-bottom: 5%;
}

.img-portfolio{
    width: 100%;
}

.img-portfolio img{
    max-width: 100%;
    border-radius: 25px;
}

/* ABOUTUT */
.about{
    background-color:#1ABC9C;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* CONTACT ME */
.contact-me{
    padding-top: 5%;
    padding-bottom: 5%;
}


/* TOP FOOTER */
.top-footer{
    background-color:#3A546D;
    min-height: 200px;
}
/* bottom footer */
.bottom-footer{
    min-height: 100px;
    background-color:#2C3E50;
}

.input input,
textarea{
width: 100%;
background-color: transparent;
background-color: transparent;
    border: 0px ;
    border-bottom: 1px solid #000;

}




/* MEDIA QUERY */
@media all and(max-width:546px) {
    .header-smartphone{
        display: flex;
    }

    .nav{
        display: none;
    }

}

/* DEBUG */

/* [class*="col"] {
    background-color: aqua;
    border: 2px solid violet;
}


section{
    min-height: 400px;
    width: 100%;
    background-color:bisque;
    border:1px solid black;
}
 */
