

header{
    background-color:#2C3E50;
    min-height: 100px;
}


.header-smartphone{
    display: none;
}

.logo{
    font-size: 30px;
    font-weight: 700;

}

/* JUMBO */
.jumbotron{
    background-color:#1ABC9C;
}

.img-jumbo{
   width: 100%;
}

.img-jumbo img{
    max-width: 50%;
    margin-top: 5%;
}

.text-jumbo{
    margin-top: 4%;
}

.jumbotron h4{
    margin-bottom: 10%;
}

/* PORTFOLIO */
.portfolio{
    background-color:white
}

.img-portfolio{
    width: 100%;
}

.img-portfolio img{
    max-width: 100%;
    border-radius: 25px;
}

/* bottom footer */
.bottom-footer{
    min-height: 100px;
    background-color:#2C3E50;

}


/* MEDIA QUERY */
@media all and(max-width:546px) {
    .header-smartphone{
        display: flex;
    }

    .nav{
        display: none;
    }

}

/* DEBUG */
[class*="col"] {
    background-color: aqua;
    border: 2px solid violet;
    min-height: 200px;
}


section{
    min-height: 400px;
    width: 100%;
    background-color:bisque;
    border:1px solid black;
}

